





#needed directory "/save"

/save/settings.json

#needed directory "/media/font"

/media/font/*



#not important:

/maps/singleplayer/korkea.txt

/maps/singleplayer/levea.txt


/maps/singleplayer/testmap1.txt

/maps/singleplayer/testi.txt


/maps/singleplayer/testikartta.txt

/maps/multiplayer/multiplayertext.txt