



#needed for the program to work:

#needed directory "/save"

/save/settings.json




#not important:

/src/__pycache__/*

/src/config/__pycache__/*

/maps/singleplayer/korkea.txt

/maps/singleplayer/levea.txt

maps/singleplayer/labyrint.txt

/maps/singleplayer/testmap1.txt

/maps/singleplayer/testi.txt

/maps/singleplayer/testikartta.txt

/maps/multiplayer/multiplayertext.txt

/src/network_game_server.py

test_game_server.py

documentation/suomenkielinen/ongelmia.txt

/.idea/*